
.container{
    height: 800px;
    width: 1250px;
    background-color: silver;
    padding: 40px ;
    display: flex;
    flex-direction: column;
}
.top-nav {
    flex: 1;
    background-color: green;
    margin-bottom: 2%;
    
}
.row {
    flex: 3;
   display: flex;
}
.side-nav {
    flex: 1;
    margin-right: 35px;
    background-color: blue;
    height: 400px;
}
.main {
    flex:3;
    background-color: red;
    padding-right: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}
.sub-content {
    height: 280px;
    background-color: yellow;
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#advertisement {
    height: 180px;
    background-color: purple;
    margin-left: 20px;
    flex: 1.5; 
}
