
.container{
    height: 800px;
    width: 1250px;
    background-color: silver;
    padding: 40px  

}
.top-nav {
    height: 200px;
    background-color: green;
    margin-bottom: 2%;
    
}
.side-nav {
    height: 400px;
    width: 340px;
    margin-right: 3%;
    background-color: blue;
}
.main {
    height: 570px;
    width: 1000px;
    background-color: red;
    padding-right: 0.5cm;
    
}
.sub-content {
    height: 270px;
    background-color: yellow;
    flex: 1;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
}
#advertisement {
    height: 150px;
    background-color: purple;
    margin-left: 0.5cm;
    flex: 1;
    
}
.placeinline {
   display: inline-block;
   display: flex;
}
.blockyellow {
    display: inline-block;
    display: flex;
    margin-right: 4%;
 }
 .j {
    display: inline-block;
    display: flex;
    margin-right: 4%;
 }
