*{
    padding: 0;
    margin: 0;
    font-family:cursive; 
}

nav{
    width: 100%;
    height: 90px;
    background-color: #9fc5f8;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}
h1{
    font-size: 40px;
    margin-left: 250px;
}

   nav ul{
    list-style-type: none;
    display: flex;
    margin-right: 270px;
   }
   nav ul li {
    margin-left: 40px;
    font-size: 23px;
    cursor: pointer;
   }
 
main{
    width: 700px;
    height: 540px;
    margin: 0px auto;

}
header{
    height: 80px; 
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
    header h2 {
    font-size: 28px;
    font-weight: lighter;
    }

    select{
        width: 50px;
        height: 33px;
        border: 3px solid black;
        font-size: 18px;
    }
.middle{
    height: 280px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 5px 0px ;
}
    .middle h3{
    font-size: 22px;
    font-weight: lighter; 
    }
    .middle h4{
        font-size: 15px;
        }

   .body{
    background-color: #eeeeee;
    width: 160px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   }
   .body img{
    width: 120px;
    border-radius: 50%;
    
   }
   .num{
    height: 35px;
    width: 120px;
    display: flex;
    justify-content:flex-start;
    color: red;
    font-weight: bolder;
    font-size: large;   
}

    .num div{
        color: rgba(0, 0, 255, 0.774); 
        margin-left: 55px;   
}


footer{
    height: 110px;
    background-color:#eeeeee;
    display: flex;
    width: 695px;
    position: fixed;
    top: 480px;
    padding-top: 5px;
    border: 3px solid black;
    margin: 0px auto;
}
.container{
        width: 700px;
        height: 540px;
        margin: 0px auto;
}

footer a{
    color: #2782f8 ;
}
button{
    width: 90px;
    height: 30px;
    margin-top: 40px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px black;
    margin-left: 40px;
    background-color: #9fc5f8;
    font-weight: bolder;
    cursor: pointer;

}
.left{
    margin: 25px 25px 0px 25px;
}
