*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
width: 100%;
height: 80px;
background-color: rgb(63, 61, 61);
color: white;
display: flex;
align-items: center;
justify-content: flex-start;
position: fixed;
padding-left: 120px;
}
.nav-title{
    font-size: 45px; 
    padding-right: 80px;
}
.nav-links{
 font-size: 20px;
 display: flex;
padding-top: 15px;
}
.nav-links a{
 color: white;
margin-right :25px;
text-decoration: none;       
}
.btn{
background-color: rgba(77, 187, 238, 0.699);  
color: white;
box-shadow:2px 2px 0 0 black;
width: 80px;
height: 25px;
margin-left: 90px;

}
.active{
   font-weight: bolder;
}
.middle{
    width: 100%x;
    height: 650px;
    background-color: bisque;
}
    .profile{
        background-color: rgb(197, 202, 202);
        position: relative;
        left: 120px;
        top: 150px; 
        display: flex;
        width: 35%;
        height: 300px;
        flex-direction: column;
    }
    .heading{
        background-color: rgb(71, 159, 209);
        flex: 1;
    }
    .main{
        background-color: rgb(255, 255, 255);
        flex: 3;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
        
    .firstrow{
        padding-top: 10px;
    }
    .heading img{
        position: relative;
        left: 30px;
        top: 40px;  
    }
        .edu{
            width: 35%;
            height: 110px;
            background-color: rgb(189, 185, 192);
            position: relative;
            left: 120px;
            top: 180px;
            display: flex;
            flex-direction: column;
        }
        .navedu{
            flex: 1;
            background-color: rgb(82, 77, 77);
            color: white;
            padding-left: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .mainedu{
            flex: 3;
            background-color:white;
            margin-left: 2px;
            margin-right: 2px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        h2{
            font-size: small;
            color: rgba(49, 45, 45, 0.712);
            margin-top: 4px; 
        } 
        h3{
            font-size: small;
            margin-top: 5px;   
        }  
    .topright{
        width: 15%;  
        height: 150px; 
        position: absolute;
        top: 150px;
        left: 620px;
        display: flex;
        flex-direction: column;
        background-color:rgb(189, 185, 192); 
    } 
        .topnavbar{
            flex: 1.5;
            background-color: rgb(82, 77, 77);
            color: white;
            padding-left: 10px;
            display: flex;
            align-items: center;
        } 
            .two{
                width: 15px;
                height: 25px;
                color: black;
                margin-right: 8px;
                text-align: center;
                padding-top: 4px;
                border-radius: 50%;
                background-color:rgb(189, 185, 192);
                flex: 1; 
            }
            .text{
                 flex: 6;  
            }
        .topmiddle{
            flex: 3;
            background-color: white;
            margin-bottom: 2px;
            margin-right: 2px;
            margin-left: 2px;
            padding-top: 15px;  
        } 
            .mid1 img{
            width: 10 px;
            height: 25px;
            } 
            .mid1 {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-bottom: 10px;
                }


    .bottomright{
        width: 15%;  
        height: 250px; 
        position: relative; 
        top: -80px;
        left: 620px;
        display: flex;
        flex-direction: column;
        background-color:rgb(189, 185, 192);
    }  
        .bottomnavbar{
            flex: 1;
            background-color: rgb(82, 77, 77);
            color: white;
            display: flex;
            padding-left: 10px;
            align-items: center;
        }
            .five{
                width: 40px;
                height: 20px;
                color: black;
                text-align: center;
                padding-bottom: 1px;
                border-radius: 45%;
                background-color:rgb(189, 185, 192);
                flex: 1; 
            }
                .text2{
                 flex: 3;  
                }
        
        .bottommiddle{
            flex: 3;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 15px;
            margin-right: 2px;
            margin-left: 2px;
            padding-left: 15px;
        }
               
        .bottomfooter{
            flex: 1;
            background-color:white;
            display: flex;
            align-items: center;
            padding-left: 10px;
            margin: 2px;
        }
        .mid2 img{
            width: 10 px;
            height: 25px;
            padding-right: 20px;
            
            } 
            .mid2 {
                display: flex;
                align-items: center;
                justify-content: left;
                margin-bottom: 10px;
                }
            